
<div class="container">
    <header>
        <nav>
            <ul>
                <li><a href="#" routerLink="/">PROJECTS</a></li>
                <li class="active"><a>ABOUT</a></li>
                <li><a href="mailto:contact@joshkriesl.com">CONTACT</a></li>
            </ul>
        </nav>
    </header>  

    <div class="about">
        <p>
            I'm not a fan of writing about myself but it's a fairly essential part of a portfolio so here it goes.
        </p>
        <p>
            It is plastered all over this website but if you missed it, hi my name is Josh Kriesl. I started tinkering with computers before I started losing teeth and I haven't stopped since. I have been programming bits and pieces since I was in primary school and in early high school I took up building electronics. I love all the hobbies I have picked up but the main reason I do them is because I love the learning behind them. Self-learning is definitely one of my core values and I have been doing it for as long as I can remember.
        </p>
        <p>
            I have done <span>programming</span>, <span>design</span>, <span>engineering</span>, <span>engineering</span>, <span>network infrastructure</span>, <span>digital security</span> and I'm currently learning about <span>sound engineering</span>.
        </p>
        <p>
            I don't have any good photos of me that aren't two years old so for now, I will just be a mystery until you meet me.
        </p>
        <p>
            I'm a team player, a leader, I'm organised, I have the drive to go above and beyond, but all I can do is list these skills, I would love to actually show you what I can do.
        </p>
    </div>
</div>
