<app-header-small></app-header-small>
<section class="header-section overlay">
  <div class="container page-header">
    <div class="image-container">
      <img src="../../../assets/Clay Dark.png" alt="" style="z-index: 10; position: relative;">
      <img src="../../../assets/calculator_demo.gif" alt="" style="z-index: 11; position: absolute;" class="gif">
      <img src="../../../assets/Dark.png" alt="" style="z-index: 12; position: absolute;" class="top">
    </div>
    <div class="text-container">
      <div class="row" style="align-items: center;">
        <img src="../../../assets/Icon.png" alt="" style="max-width: 6rem;">
        <h1>
          Calculator Android App
        </h1>
      </div>
      <p>
        Despite what our teachers told us these days we do allways have a calculator. This projects strives to make that calculator a little bit nicer and shows off some of my proggraming experience.
      </p>
      <div class="plat-lang">
        <img src="../../../assets/logo_flutter.png" alt="" class="language">
        <div class="divider"></div>
        <img src="../../../assets/logo-android.png" alt="" class="platform">
      </div>
    </div>
  </div>
</section>
<section class="signup-section" style="background-color: #77978C; min-height: 30rem;">

</section>
