.grid {
  margin: 3rem 0;
  mat-grid-tile {
    cursor: pointer;
    display: flex;
    .tile-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      mat-icon {
        width: 100%;
        height: 100%;
        font-size: 9rem;
      }
    }
    &::before {
      content: ' ';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0.6;
      background: black;
    }
  }
}
