<router-outlet></router-outlet>
<footer>
    <div>
        <h5>
            See anything that caught your interest?
        </h5>
        <p>
            I'm actively seeking opportunities to lean more. If you are interested in my work, I would love to chat! <br> Just send me an email <a href="mailto:joshkriesl@gmail.com">here</a>
        </p>
    </div>
    <div>
        <div class="bottom-right">
            <span>© 2020 Joshua Kriesl, all rights reserved</span>
        </div>
    </div>
</footer>