
<div class="container">
    <header>
        <nav>
            <ul>
                <li class="active"><a>PROJECTS</a></li>
                <li><a href="#" routerLink="/about">ABOUT</a></li>
                <li><a href="mailto:joshkriesl@gmail.com">CONTACT</a></li>
            </ul>
        </nav>
        <div>
            <h1 class="prename">
                HI! I'M
            </h1>
            <h1 class="name">
                <span>J</span>
                <span>O</span>
                <span>S</span>
                <span>H</span>
                <br>
                <span>K</span>
                <span>R</span>
                <span>I</span>
                <span>E</span>
                <span>S</span>
                <span>L</span>
            </h1>
        </div>
        <p class="summary">
            <b>I am a</b> curious individual. My need to know how things work has taken me down many rabbit holes. <b>I thrive on</b> tackling complex problems and seeing the simplicity that often hides in their solutions. <b>I excel at</b> building strong foundations for the systems and solutions I build and hunting down every possible problem they face.
        </p>
    </header>

    <app-categories *ngIf="routePath == '/'"></app-categories>
    <app-projects [docID]="routePath" *ngIf="routePath != '/'"></app-projects>
</div>
