<header>
  <div class="header-body container">
    <div class="header-logo justify-start">
      <a href="https://joshkriesl.com/">
        <span>J</span>
        <span>O</span>
        <span>S</span>
        <span>H</span>
        <span style="width: .3rem; display: inline-block"></span>
        <span>K</span>
        <span>R</span>
        <span>I</span>
        <span>E</span>
        <span>S</span>
        <span>L</span>
      </a>
    </div>
    <nav class="justify-end">
      <ul>
        <li class="active"><a>PROJECTS</a></li>
        <li><a href="#" routerLink="/about">ABOUT</a></li>
        <li><a href="mailto:joshkriesl@gmail.com">CONTACT</a></li>
      </ul>
    </nav>
  </div>
</header>
